.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
.btn-smovehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 2px;
  background: #115E80;
  transition: background 0.3s ease;
  border-color: transparent;
  margin-bottom: 8px;
  margin-top: 50px;
}
.btn-smovehouse:hover {
  opacity: 1;
  background-color: #1C6FAA;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.button-center {
  text-align: center;
}

.special-form {
  margin-top: 10px;
}

.form-btn {
  display: flex;
  justify-content: center;
}
