<div class="navbar">
  <div class="logo">
  <a href="http://www.smovin.be/"></a>
    <%= image_tag "smovin_logo.png", size: "229x58"%>
  </div>
  <div class="links">
    <a href="http://www.smovin.be/fonctionnalites" class="nav_link">Fonctionnalités</a>
    <a href="http://www.smovin.be/prix" class="nav_link">Tarifs</a>
    <a href="http://www.smovin.be/" class="nav_link">
      <button class="nav-button">Contactez moi</button>
    </a>
  </div>
</div>
<!-- hvr-underline-from-center -->
