.result-wrapper {
  min-width: 500px;
  margin:  auto;
}

.flex-terms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.first-terms {
  max-width: 150px;
  padding: 10px 0;
}

.second-terms {
  min-width: 150px;
  padding: 10px 0;
}

.third-terms {
  min-width: 150px;
  padding: 10px 0;
}

.tarif {
  margin: 10px 0;
  text-align: center;
}

.new-rent {
  margin-bottom: 20px;
}

.start-index {
  margin-bottom: 20px;
}

.edit-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.calendar {
  height: 60px;
  width: 75px;
  border: 1px solid #115E80;
  border-radius: 2px;
  margin-top: 5px;
}

.calendar-top {
  height: 20px;
  background-color: #115E80;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.calendar-bottom {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding-top: 5px;
}

.test-design {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-rent {
    margin-left: 21px;
    font-size: 2.5em;
    text-align: end;
}


.body-wrap {
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  justify-content: center
}
.result-container {
  min-width: 550px;
  margin-bottom: 20px;
}
.result-container-2 {
  min-width: 800px;
  display: flex;
  justify-content: center;
}

.shit-shit-shit {
  margin-left: 20px;
  width: inherit;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: inherit;
}

.sub-title {
  color: #115E80;
  font-size: 2.5em;
  text-align: end;
}

.head-container {
  padding-top: 27px;
}
.results {
  min-width: 1164px;
}

.sub-title-2 {
  color: #115E80;
  font-size: 43px;
  text-align: center;
  margin-top: -26px;
  margin-left: 16px;
}

.new-rent-2 {
  margin-left: 21px;
  font-size: 67px;
  text-align: center;
}

.sub-title-3 {
  color: #115E80;
  font-size: 23px;
  text-align: center;
}

.new-index {
  font-size: 40px;
  text-align: center;
}

.flex-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 51px;
  margin-bottom: 50px;
}

.current-index {
  flex: 1;
}
.index-from {
  flex: 1;
  display: flex;
  justify-content: center;
}
.old-index {
  flex: 1;
}

.pdf-it {
  flex: 1;
  h6 {
    color: #115E80;
  }
}


