.result-wrapper {
  min-width: 500px;
  margin:  auto;
}

.sub-title {
  text-align: center;
  color: #115E80;
  margin-bottom: 20px;
}

.flex-terms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.left-terms {
  max-width: 250px;
  padding: 10px 0;
}

.right-terms {
  min-width: 250px;
  padding: 10px 0;
}

.tarif {
  margin: 10px 0;
  text-align: center;
}

.maths {
  padding: 10px 35px !important;
  border-radius: 5px;
  border: 2px solid #768CA2;
  background-color: white;
  padding-bottom: 25px !important;
}

.body-wrap {
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
}

.new-rent {
  margin-bottom: 20px;
}

.start-index {
  margin-bottom: 20px;
}

.edit-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
