.form-container {
  margin: 20px auto;
  padding: 30px;
  border-radius: 4px;
  // border: 1px solid #f1f1f1;
  background-color: white;
  display: block !important;
  max-width:500px;
}

.test {
  // max-width: 275px;
  margin-right: 50px;
  // display: block;
  // justify-content: flex-end;
}

.inline_fields {
  display: inline-block;
  margin-top: 10px;
  margin-bottom:10px;
  margin-right:30px;
}


.try {
  float: right;
}

.wrap {
  margin-bottom: 10px;
}

h1 {
  color: #115E80;
  text-align: center;
}
p {
  color: #115E80;
  font-weight: lighter;
  width: 500px;
  margin: auto;
}

.submit-btn {
  margin: auto;
  min-width: 110px;
  padding: 13px;
  height: 41px;
  z-index: 36;
  line-height: 16px;
  font-size: 14px;
  font-weight: 400;
  font-family: Ubuntu;
  border-radius: 5px;
  border: #115E80;
  background-color: #115E80;
  color:white;
  text-align: center;
}

.submit-btn:hover {
  cursor: pointer;
}

.btn-try {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

label {
  color: black;
}
