<h1 style="margin-bottom: 20px">Votre loyer a été indexé</h1>
<div style="width: 480px; margin: auto" >
<iframe src="//giphy.com/embed/26gsl2WC5tRxkemdi" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/salt-bae-26gsl2WC5tRxkemdi">via GIPHY</a></p>
</div>
